argcomplete==1.12.0
Beaker==1.10.0
beautifulsoup4==4.9.3
blivet==3.3.3
cffi==1.14.5
chardet==4.0.0
dasbus==1.4
dbus-python==1.2.16
decorator==4.4.2
distro==1.5.0
grpcio==1.26.0
grpcio-tools==1.26.0
more-itertools==8.8.0
olefile==0.46
packaging==20.9
protobuf==3.12.2
python-dateutil==2.8.1
requests==2.25.1
requests-file==1.5.1
requests-ftp==0.3.1
falco~=0.4.0
kubernetes~=18.20.0